apiVersion: apps/v1
kind: Deployment
metadata:
  name: ml-fastapi-deployment
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: ml-fastapi
  template:
    metadata:
      labels:
        app: ml-fastapi
    spec:
      containers:
      - name: ml-fastapi
        image: ml-fastapi:1.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000
        env:
        - name: MODEL_VERSION
          value: "v2"
        livenessProbe:
          httpGet:
            path: /health/live
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health/ready
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
